/* .Featured {
  padding: 2rem 0;
  background-color: #2c2f33;
  border-bottom: 20px solid #23272a;
} */

.Featured h1 {
  text-align: center;
  color:  #003366;
  font-size: 50px;
}

.Featured__item {
  transition: transform .2s;
}

.Featured__item:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

.offer{
  text-decoration-line: line-through;
  color:red;
}


.Featured__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.Featured__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.Featured__item {
  
  display: flex;
  margin: 0 1rem;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 30px;
}

buttonn {
  background: transparent;
  border: 1px solid #003366;
  color: #003366;
  font-size:20px;
  width: 20%;
  /* height:10%; */
  border-radius: 10px;
  cursor: pointer;
  transition: transform .2s;
}

buttonn:hover{
  background-color: #003366;
  color:white;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
  box-shadow: 0 10px 20px rgba(14, 13, 13, 0.5);
  opacity: 1;
 

}


.Featured__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  
}

.Featured__item__link:hover {
  box-shadow: 0 10px 20px rgba(14, 13, 13, 0.5);
  opacity: 1;
}

.Featured__item__img {
  height: 200px;
  object-fit: fill;
  margin: 0;
}

.Featured__item__labels {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Featured__item__label {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  background-color: #2c2f33;
  margin: 5px;
}

.Featured__item__info {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.Featured__item__title > p {
  margin-top: 10px;
  /* padding: 0 30px; */
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.Featured__item__text {
  
  direction: rtl;
  color:black;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Almarai', sans-serif;
}

.Featured-footer{
  text-align: center;
  margin-bottom: 1rem;
  
}

